*{

  margin:0;

  padding:0;

}

body, html{height:100%;}

body{

    text-align:center;

}

footer {
    background-color: #003C50;
    position: absolute;
    text-align: center;
    bottom: 0;
    width:100%;
    padding-top:50px;
    height:50px;
}
.App {
    text-align: center;
    max-width:1280px;
    min-height:100%;
    margin:0 auto;
    position:relative;
}
.App-link {
    color: #61dafb;
}
